In [1]:
import numpy as np
import xgboost as xgb
import scipy

import matplotlib.pyplot as plt
import pandas as pd

C:\Python\Anaconda2\envs\py35\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
%matplotlib inline

In [3]:
tain_file = 'train.csv'
test_file = 'test.csv'

In [120]:
df_train = pd.read_csv(tain_file)

In [121]:
df_train.Sex = (df_train.Sex.str.lower())
df_train['SexID'] = -1
df_train.loc[df_train.Sex == 'female','SexID'] = 1 # 1 for female
df_train.loc[df_train.Sex == 'male','SexID'] = 0 # 0 for male

In [122]:
df_train.Embarked = df_train.Embarked.str.lower()

In [123]:
df_train['EmbarkedID'] = 0
EmbarkedID = df_train['EmbarkedID']

In [124]:

EmbarkedID.loc[df_train['Embarked']=='c',] = 1
EmbarkedID.loc[df_train['Embarked']=='s',]= 2
EmbarkedID.loc[df_train['Embarked']=='q',]= 3

C:\Python\Anaconda2\envs\py35\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [125]:
df_train['EmbarkedID'] = EmbarkedID

In [126]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,SexID,EmbarkedID
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,s,0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,c,1,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,s,1,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,s,1,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,s,0,2

In [127]:
df_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'SexID', 'EmbarkedID'],
      dtype='object')

In [128]:
features = ['Pclass','Age','SibSp','Parch','Fare','SexID','EmbarkedID']
X = df_train[features]
y = df_train.Survived

In [145]:
from sklearn.cross_validation import train_test_split

In [148]:
X = X.fillna(value=0)

In [149]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y)

In [61]:
from sklearn.ensemble import gradient_boosting as xgb

In [150]:
#param = {'learning_rates':0.1,'max_depth':8}

model = xgb.GradientBoostingClassifier()
clf = model.fit(Xtrain,ytrain)

In [151]:
ytrain_pred = clf.predict(Xtrain)

In [152]:
rtrain = pd.DataFrame({'real':ytrain,'pred':ytrain_pred})
rtrain.head()

     pred  real
824     0     0
138     0     0
25      0     1
398     0     0
822     0     0

In [153]:
from sklearn.cross_validation import cross_val_score
from sklearn.metrics import accuracy_score

In [154]:
accuracy_score(rtrain.pred,rtrain.real)

0.90119760479041922

In [156]:
ytest_pred = clf.predict(Xtest)
rtest =  pd.DataFrame({'real':ytest,'pred':ytest_pred})

In [157]:
accuracy_score(rtest.real,rtest.pred)

0.84304932735426008

In [159]:
df_test = pd.read_csv(test_file)

df_test.Sex = (df_test.Sex.str.lower())
df_test['SexID'] = -1
df_test.loc[df_test.Sex == 'female','SexID'] = 1 # 1 for female
df_test.loc[df_test.Sex == 'male','SexID'] = 0 # 0 for male

df_test.Embarked = df_test.Embarked.str.lower()

df_test['EmbarkedID'] = 0
test_EmbarkedID = df_test['EmbarkedID'] 


test_EmbarkedID.loc[df_test['Embarked']=='c',] = 1
test_EmbarkedID.loc[df_test['Embarked']=='s',]= 2
test_EmbarkedID.loc[df_test['Embarked']=='q',]= 3

df_test['EmbarkedID']  = test_EmbarkedID
#df_test = df_test.fillna(value=0)
#df_test.Cabin[df_test.Cabin.isnull()]
df_test = df_test.fillna(value=0)
df_test.head()

C:\Python\Anaconda2\envs\py35\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,SexID,EmbarkedID
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,0,q,0,3
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,0,s,1,2
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,0,q,0,3
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,s,0,2
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,0,s,1,2

In [160]:
ypred_final = clf.predict(df_test[features])
#df_train.Cabin.unique()

In [162]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,SexID,EmbarkedID
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,0,q,0,3
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,0,s,1,2
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,0,q,0,3
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,s,0,2
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,0,s,1,2

In [166]:
res_final = pd.DataFrame({'PassengerId':df_test.PassengerId,'Survived':ypred_final})

In [165]:
res_final.to_csv('final_res.csv',index=False)

In [168]:
df_test.Cabin.unique()

array([0, 'B45', 'E31', 'B57 B59 B63 B66', 'B36', 'A21', 'C78', 'D34',
       'D19', 'A9', 'D15', 'C31', 'C23 C25 C27', 'F G63', 'B61', 'C53',
       'D43', 'C130', 'C132', 'C101', 'C55 C57', 'B71', 'C46', 'C116', 'F',
       'A29', 'G6', 'C6', 'C28', 'C51', 'E46', 'C54', 'C97', 'D22', 'B10',
       'F4', 'E45', 'E52', 'D30', 'B58 B60', 'E34', 'C62 C64', 'A11',
       'B11', 'C80', 'F33', 'C85', 'D37', 'C86', 'D21', 'C89', 'F E46',
       'A34', 'D', 'B26', 'C22 C26', 'B69', 'C32', 'B78', 'F E57', 'F2',
       'A18', 'C106', 'B51 B53 B55', 'D10 D12', 'E60', 'E50', 'E39 E41',
       'B52 B54 B56', 'C39', 'B24', 'D28', 'B41', 'C7', 'D40', 'D38',
       'C105'], dtype=object)